AirlineManagementWebService/WebContent/wsdl/ViewWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wrapper" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wrapper" xmlns:intf="http://wrapper" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wrapper" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="getCustomerDetails">
    <complexType/>
   </element>
   <element name="getCustomerDetailsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCustomerDetailsReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFlightDetails">
    <complexType/>
   </element>
   <element name="getFlightDetailsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getFlightDetailsReturn" type="tns1:FlightDetails"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStaffDetails">
    <complexType/>
   </element>
   <element name="getStaffDetailsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getStaffDetailsReturn" type="tns1:Staff"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBookingDetails">
    <complexType/>
   </element>
   <element name="getBookingDetailsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBookingDetailsReturn" type="tns1:Booking"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Customer">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="customer_ssn" type="xsd:int"/>
     <element name="dob" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="f_name" nillable="true" type="xsd:string"/>
     <element name="l_name" nillable="true" type="xsd:string"/>
     <element name="nationality" nillable="true" type="xsd:string"/>
     <element name="passport_no" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="user_id" type="xsd:int"/>
     <element name="zipcode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="FlightDetails">
    <sequence>
     <element name="avail_seats" nillable="true" type="xsd:string"/>
     <element name="crew_id" type="xsd:int"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flight_date" nillable="true" type="xsd:string"/>
     <element name="flight_name" nillable="true" type="xsd:string"/>
     <element name="flight_no" nillable="true" type="xsd:string"/>
     <element name="no_of_seats" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Staff">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="dob" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="f_name" nillable="true" type="xsd:string"/>
     <element name="hire_date" nillable="true" type="xsd:string"/>
     <element name="l_name" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="position" nillable="true" type="xsd:string"/>
     <element name="staff_ssn" type="xsd:int"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="user_id" type="xsd:int"/>
     <element name="work_desc" nillable="true" type="xsd:string"/>
     <element name="zipcode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Booking">
    <sequence>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flight_date" nillable="true" type="xsd:string"/>
     <element name="flight_no" nillable="true" type="xsd:string"/>
     <element name="no_of_seats" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="user_id" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerDetailsRequest">

      <wsdl:part element="impl:getCustomerDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStaffDetailsRequest">

      <wsdl:part element="impl:getStaffDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightDetailsRequest">

      <wsdl:part element="impl:getFlightDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStaffDetailsResponse">

      <wsdl:part element="impl:getStaffDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookingDetailsRequest">

      <wsdl:part element="impl:getBookingDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightDetailsResponse">

      <wsdl:part element="impl:getFlightDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookingDetailsResponse">

      <wsdl:part element="impl:getBookingDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDetailsResponse">

      <wsdl:part element="impl:getCustomerDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ViewWebService">

      <wsdl:operation name="getCustomerDetails">

         <wsdl:input message="impl:getCustomerDetailsRequest" name="getCustomerDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDetailsResponse" name="getCustomerDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlightDetails">

         <wsdl:input message="impl:getFlightDetailsRequest" name="getFlightDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFlightDetailsResponse" name="getFlightDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStaffDetails">

         <wsdl:input message="impl:getStaffDetailsRequest" name="getStaffDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStaffDetailsResponse" name="getStaffDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBookingDetails">

         <wsdl:input message="impl:getBookingDetailsRequest" name="getBookingDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBookingDetailsResponse" name="getBookingDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ViewWebServiceSoapBinding" type="impl:ViewWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCustomerDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlightDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFlightDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFlightDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStaffDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStaffDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStaffDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBookingDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBookingDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBookingDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ViewWebServiceService">

      <wsdl:port binding="impl:ViewWebServiceSoapBinding" name="ViewWebService">

         <wsdlsoap:address location="http://localhost:8083/AirlineManagementWebService/services/ViewWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
